In [1]:
import sweetviz as sv

In [2]:
import pandas as pd

In [3]:
from pathlib import Path

In [4]:
train_path = Path('../data/train.csv')
test_path = Path('../data/test.csv')

In [7]:
train = pd.read_csv(train_path)

/home/egleb/.cache/pypoetry/virtualenvs/raifhack-ds-2021-dLUNAmKH-py3.8/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3441: DtypeWarning: Columns (1) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [9]:
test = pd.read_csv(test_path)

In [11]:
train['floor'] = train['floor'].astype(str)

In [16]:
train.head().T

                       0           1           2            3           4
city               Пермь      Шатура   Ярославль  Новокузнецк      Москва
floor                nan         nan         nan          nan         nan
id                 COL_0       COL_1       COL_2        COL_3       COL_4
lat            57.998207   55.574284    57.61914    53.897083    55.80259
lng            56.292797   39.543835   39.850525    87.108604    37.48711
...                  ...         ...         ...          ...         ...
total_square        32.0       280.0       297.4        190.0        60.2
street            S27289      S17052      S16913       S10148       S1338
date          2020-01-05  2020-01-05  2020-01-05   2020-01-05  2020-01-05
realty_type           10          10         110          110          10
price_type             0           0           0            0           0

[77 rows x 5 columns]

In [18]:
my_report = sv.analyze(train, target_feat='per_square_meter_price')
my_report.show_html('train_2.html') # Default arguments will generate to "SWEETVIZ_REPORT.html"

                                             | | [  0%]   00:00 -> (? left)

Report train_2.html was generated! NOTEBOOK/COLAB USERS: the web browser MAY not pop up, regardless, the report IS saved in your notebook/colab files.

In [13]:
test['floor'] = test['floor'].astype(str)

In [14]:
test_report = sv.analyze(test)
test_report.show_html('test.html')

                                             | | [  0%]   00:00 -> (? left)

Report test.html was generated! NOTEBOOK/COLAB USERS: the web browser MAY not pop up, regardless, the report IS saved in your notebook/colab files.

In [20]:
test['date'].min()

'2020-09-06'

In [21]:
test['date'].max()

'2020-12-27'

In [23]:
test[test['date'] > '2020-11-01'].shape

(1592, 76)

In [24]:
test[test['date'] <= '2020-11-01'].shape

(1382, 76)

In [25]:
train['date'].max()

'2020-08-23'

In [26]:
train['date'].min()

'2020-01-05'

In [27]:
my_report_pt0 = sv.analyze(train[train.price_type == 0], target_feat='per_square_meter_price')
my_report_pt0.show_html('train_pt0.html')

                                             | | [  0%]   00:00 -> (? left)

Report train_pt0.html was generated! NOTEBOOK/COLAB USERS: the web browser MAY not pop up, regardless, the report IS saved in your notebook/colab files.

In [28]:
my_report_pt1 = sv.analyze(train[train.price_type == 1], target_feat='per_square_meter_price')
my_report_pt1.show_html('train_pt1.html')

                                             | | [  0%]   00:00 -> (? left)

Report train_pt1.html was generated! NOTEBOOK/COLAB USERS: the web browser MAY not pop up, regardless, the report IS saved in your notebook/colab files.